---
import artesanias from '../assets/artesanias.json';
import TooltipsReactions from './TooltipsReactions.astro';
// import Tooltips from './tooltips.astro';
import { TooltipsReactionsComponent } from './angularcomponents/TooltipsReactions.component';
import { ReactionSectionComponent } from './reactions-components/SectionReaction.component';

// const helpText:string = "Helping binding";
---
<div class="w-11/12 sm:w-3/4 max-w-scren-lg grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mb-10 px-5 sm:p-0 -mt-14">
  
    {artesanias.slice().reverse().map((artesania) => (
        <div class="bg-transparent border border-gray-100 rounded-lg shadow overflow-hidden">
            <div class="relative w-full flex justify-center items-center bg-slate-700 bg-opacity-30 backdrop-blur-md rounded-t-lg h-[500px] overflow-hidden p-3">
                {artesania.status === "new" && (
                    <div class="flex items-center fixed top-2 left-2 p-1 text-sm text-blue-700 border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24">
                        <path fill="none" stroke="#007AAE" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-3-3v6M4 6V5a1 1 0 0 1 1-1h1m5 0h2m5 0h1a1 1 0 0 1 1 1v1m0 5v2m0 5v1a1 1 0 0 1-1 1h-1m-5 0h-2m-5 0H5a1 1 0 0 1-1-1v-1m0-5v-2m0-5"/>
                    </svg>
                    <div class="ms-1">
                        <span class="font-medium">Nuevo</span>   
                    </div>
                </div>
                ) }
                <img class="block w-full h-full object-contain drop-shadow-xl" src={artesania.image_url} alt={artesania.name}/>
            </div>

            {/* <div class=" bg-white flex items-center py-3 px-5 bg-red-500">
                <div class="bg-teal-500 flex items-center space-x-1 rtl:space-x-reverse">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">
                            <path fill="#666666" d="M12 4.528a6 6 0 0 0-8.243 8.715l6.829 6.828a2 2 0 0 0 2.828 0l6.829-6.828A6 6 0 0 0 12 4.528m-1.172 1.644l.465.464a1 1 0 0 0 1.414 0l.465-.464a4 4 0 1 1 5.656 5.656L12 18.657l-6.828-6.829a4 4 0 0 1 5.656-5.656"/>
                        </svg>
                    </button>
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 128 128">
                            <path fill="#db4437" d="M90.35 16.05c-11.66 0-21.81 6.97-26.35 17.06c-4.54-10.08-14.69-17.06-26.35-17.06c-15.92 0-28.87 12.96-28.87 28.88c0 35.9 51.79 65.46 54 66.7c.38.21.79.32 1.21.32s.84-.11 1.21-.32c2.2-1.24 54.01-30.8 54.01-66.7c.01-15.92-12.94-28.88-28.86-28.88"/>
                        </svg>
                    </button> 
                </div>
                <span class="bg-blue-200 text-blue-700 text-xs font-semibold px-2.5 py-0.5 rounded-md ms-3">0</span>
            </div> */}
            {/* <ReactionSectionComponent client:visible/> */}
            
            <div class="h-full bg-white py-3 px-5">
                <div>
                    <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{artesania.name}</h5>
                </div>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{artesania.type}</p>
                    {/* <TooltipsReactions artisanId={artesania.id} />  */}
                    {/* {<TooltipsReactionsComponent artisanId={artesania.id}/> } */}
            </div>
        </div>
    ))}
      
</div>
